<%- include("menu.ejs") %>

<div class="container">
    <h1>Add Users</h1>
    <form action="/useradd" method="post">
        <input type="text" name="name" placeholder="Name" class="form-control">
        <br/>
        <input type="text" name="userplace" placeholder="Place" class="form-control">
        <br/>
        <input type="text" name="age" placeholder="Age" class="form-control">
        <br/>
        <button>Add User</button>
    </form>

    <!-- <hr />

    <form id="add-user-form">
        <input type="text" name="name" placeholder="Name" class="form-control">
        <br/>
        <input type="text" name="userplace" placeholder="Place" class="form-control">
        <br/>
        <input type="text" name="age" placeholder="Age" class="form-control">
        <br/>
        <button id="add-user">Add User</button>
    </form> -->
</div>